.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffd9d9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  height: 100vh;
}

.left-column {
  flex: 0 0 300px; /* Set the width of the left column */
  padding: 20px;
}


#feature-tree {
  height: calc(100% - 40px); /* Adjust the height to fit the available space */
  overflow: auto;
}
