.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .left-column {
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    overflow-x: scroll;
  }
  
  .right-column {
    width: 70%;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
  }
  
  .right-column h3 {
    margin-top: 0;
  }
  
  .tree-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .tree-container {
    height: 500px;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .selected-node-container {
    margin-top: 20px;
  }
  
  .selected-node-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .custom-tab-list {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .custom-tab-list .react-tabs__tab {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .custom-tab-list .react-tabs__tab--selected {
    background-color: #bdd2ff;
    color: #333;
    font-weight: bold;
  }
  .face-future-heading {
    text-align: left;
  }
  .face-future-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .image{


    width: 150px;
  }
  .image-div{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    

    margin-left: 80px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .pagination-options {
    margin-bottom: 10px;
    
  }
  
  .pagination-options select {
    padding: 5px;
    font-size: 14px;
  
  }
  .tree-component-container {
    background: linear-gradient(to bottom, #f3f3f3, #ffffff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
   
  }
  .custom-tab-list-item {
    display: inline-block;
    padding: 8px 30px;
    cursor: pointer;
    background-color: #f3f3f3;
    border: 1px solid #be9cff;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    margin-right: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    width: 200px;
    text-align: center;
  }
  
  .custom-tab-list-item:hover {
    background-color: #e0e0e0;
  }
  
  .custom-tab-list-item:focus {
    outline: none;
  }
  
  .custom-tab-list-item.react-tabs__tab--selected {
    background-color: #dbdbff;
    border-bottom-color: #ffffff;
    color: #000000;
  }
  .top-left-image {
    width: 85px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
  }
  
  